* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.topper{
    background-color: white;
    color: #140C3A;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
}

.top0 {
    top: 10px;
    position: absolute;
    left: 20px;
    display: flex;
    font-weight: bold;
}

.top0 i {
    font-size: 30px;
    color: yellow;
}

.top1 {
    display: flex;
    font-size: 20px;
    list-style-type: none;
    margin: auto;
    width: 300px;
    position: relative;
    top: 10px;
}

.top1:hover {
    color: orange;
}

.top1 li {
    padding: 10px;

}

.top2 {
    top: 10px;
    position: absolute;
    right: 20px;
}

.top2 i {
    background-color: grey;
    color: #140C3A;
    font-size: 30px;
    margin: 10px;
    padding: 6px;
    border-radius: 5px;
}

.mid {
    margin-top: 100px;
    background-image: url("banner-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    text-align: center;
}

.para0 {
    text-transform: capitalize;
}

.inner {
    position: relative;
    top: 100px;
    width: 700px;
    margin: auto;
    font-size: 20px;
}

.inner button {
    margin: 30px;
    border-radius: 10px;
    background-color: transparent;
    width: 150px;
    height: 50px;
    color: white;
    border: 3px solid white;

}

.down {
    margin-top: 50px;
}

#head {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

#sbody {

    display: flex;
    justify-content: center;
    align-items: center;

}

.card-img {
    left: 400px;
    width: 350px;
    height: 250px;
    padding: 3px;
    border-radius: 30px;
}

.card:hover {
    background-color: rgb(8, 40, 78);

}

div.sparsh {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.faq {
    background: url(download\ \(2\).jfif);
    background-size: cover;
    height: 240px;
    display: flex;
    justify-content: center;
    padding: 40px;
}

div.t {
    background: url(download\ \(2\).jfif);
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
}